
.tooltip{
    padding: 40px;
    background-color: lightblue;
}
.tooltiptext{
    background-color: lightslategray;
    padding: 40px;
}
.top,.bottom{
    padding: 40px;
}
h4{
    width: 20%;
    background-color: red;
    padding: 20px;
    border-radius: 20px;
}